:root {
    --primary-color: #BEBEBE ;
    --secondary-color: #6c757d;
    --light-color: #F5F5F5  ;
    --dark-color: #343a40;
    --text-color: black;
  }
  
  [data-theme="dark"] {
    --primary-color: #E5E5E5 ;
    --secondary-color: #c5cae9;
    --light-color: #545454;
    --dark-color: #ffffff;
    --text-color: white;
  }

body {
    background: var(--light-color);
    color: var(--text-color);
    margin-bottom: 75px;
  }
